In [1]:
import pandas as pd

In [3]:
# Define paths
path19 = "../01_Resources/EPA_AQI_data/daily_aqi_by_county_2019.csv"
path20 = "../01_Resources/EPA_AQI_data/daily_aqi_by_county_2020.csv"

In [32]:
# Read in data
df19 = pd.DataFrame(pd.read_csv(path19))
df20 = pd.DataFrame(pd.read_csv(path20))

df19

,State Name,county Name,State Code,County Code,Date,AQI,Category,Defining Parameter,Defining Site,Number of Sites Reporting
0,Alabama,Baldwin,1,3,2019-01-03,18,Good,PM2.5,01-003-0010,1
1,Alabama,Baldwin,1,3,2019-01-06,35,Good,PM2.5,01-003-0010,1
2,Alabama,Baldwin,1,3,2019-01-09,14,Good,PM2.5,01-003-0010,1
3,Alabama,Baldwin,1,3,2019-01-12,36,Good,PM2.5,01-003-0010,1
4,Alabama,Baldwin,1,3,2019-01-15,38,Good,PM2.5,01-003-0010,1
...,...,...,...,...,...,...,...,...,...,...
340164,Wyoming,Weston,56,45,2019-12-27,36,Good,Ozone,56-045-0003,2
340165,Wyoming,Weston,56,45,2019-12-28,37,Good,Ozone,56-045-0003,2
340166,Wyoming,Weston,56,45,2019-12-29,34,Good,Ozone,56-045-0003,2
340167,Wyoming,Weston,56,45,2019-12-30,36,Good,Ozone,56-045-0003,2
340168,Wyoming,Weston,56,45,2019-12-31,40,Good,Ozone,56-045-0003,2

In [37]:
# Split "Date" column into "Year", "Month", and "Day" columns
df19['Year'] = [d.split('-')[0] for d in df19.Date]
df19['Month'] = [d.split('-')[1] for d in df19.Date]
df19['Day'] = [d.split('-')[2] for d in df19.Date]
# Change type from str to int64
df19 = df19.astype({'Year': 'int64'})
df19 = df19.astype({'Month': 'int64'})
df19 = df19.astype({'Day': 'int64'})

# Repeat for 2020 dataframe
df20['Year'] = [d.split('-')[0] for d in df20.Date]
df20['Month'] = [d.split('-')[1] for d in df20.Date]
df20['Day'] = [d.split('-')[2] for d in df20.Date]
df20 = df20.astype({'Year': 'int64'})
df20 = df20.astype({'Month': 'int64'})
df20 = df20.astype({'Day': 'int64'})

# Display result
df20.head(5)

,State Name,county Name,State Code,County Code,Date,AQI,Category,Defining Parameter,Defining Site,Number of Sites Reporting,Year,Month,Day
0,Alabama,Baldwin,1,3,2020-01-01,48,Good,PM2.5,01-003-0010,1,2020,1,1
1,Alabama,Baldwin,1,3,2020-01-04,13,Good,PM2.5,01-003-0010,1,2020,1,4
2,Alabama,Baldwin,1,3,2020-01-07,14,Good,PM2.5,01-003-0010,1,2020,1,7
3,Alabama,Baldwin,1,3,2020-01-10,39,Good,PM2.5,01-003-0010,1,2020,1,10
4,Alabama,Baldwin,1,3,2020-01-13,29,Good,PM2.5,01-003-0010,1,2020,1,13

In [40]:
# Exclude 2019 data beyond June
df19 = df19.loc[df19.Month < 6]
df19

,State Name,county Name,State Code,County Code,Date,AQI,Category,Defining Parameter,Defining Site,Number of Sites Reporting,Year,Month,Day
0,Alabama,Baldwin,1,3,2019-01-03,18,Good,PM2.5,01-003-0010,1,2019,1,3
1,Alabama,Baldwin,1,3,2019-01-06,35,Good,PM2.5,01-003-0010,1,2019,1,6
2,Alabama,Baldwin,1,3,2019-01-09,14,Good,PM2.5,01-003-0010,1,2019,1,9
3,Alabama,Baldwin,1,3,2019-01-12,36,Good,PM2.5,01-003-0010,1,2019,1,12
4,Alabama,Baldwin,1,3,2019-01-15,38,Good,PM2.5,01-003-0010,1,2019,1,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...
339950,Wyoming,Weston,56,45,2019-05-27,46,Good,Ozone,56-045-0003,2,2019,5,27
339951,Wyoming,Weston,56,45,2019-05-28,43,Good,Ozone,56-045-0003,2,2019,5,28
339952,Wyoming,Weston,56,45,2019-05-29,71,Moderate,Ozone,56-045-0003,2,2019,5,29
339953,Wyoming,Weston,56,45,2019-05-30,61,Moderate,Ozone,56-045-0003,2,2019,5,30
339954,Wyoming,Weston,56,45,2019-05-31,49,Good,Ozone,56-045-0003,2,2019,5,31