### Import dependencies

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Extract data

In [2]:
# Define paths
# Data from https://aqs.epa.gov/aqsweb/airdata/download_files.html
path15 = '../01_Resources/EPA_AQI_data/daily_aqi_by_county_2015.csv'
path16 = '../01_Resources/EPA_AQI_data/daily_aqi_by_county_2016.csv'
path17 = '../01_Resources/EPA_AQI_data/daily_aqi_by_county_2017.csv'
path18 = '../01_Resources/EPA_AQI_data/daily_aqi_by_county_2018.csv'
path19 = '../01_Resources/EPA_AQI_data/daily_aqi_by_county_2019.csv'
path20 = '../01_Resources/EPA_AQI_data/daily_aqi_by_county_2020.csv'

In [3]:
# Read in data for six year of AQI data
df15 = pd.DataFrame(pd.read_csv(path15))
df16 = pd.DataFrame(pd.read_csv(path16))
df17 = pd.DataFrame(pd.read_csv(path17))
df18 = pd.DataFrame(pd.read_csv(path18))
df19 = pd.DataFrame(pd.read_csv(path19))
df20 = pd.DataFrame(pd.read_csv(path20))

# Transform data

In [4]:
# Append all six years into one DF
six_years_df = df15.append([df16,df17,df18,df19,df20], ignore_index=True)

In [5]:
# Split "Date" column into "Year", "Month", and "Day" columns for 2020 data
df20['Year'] = [d.split('-')[0] for d in df20['Date']]
df20['Month'] = [d.split('-')[1] for d in df20['Date']]
df20['Day'] = [d.split('-')[2] for d in df20['Date']]

# Create column to hold Month and Day w/o year
# This is to compare specific days across all six years
# TODO: Find a cleaner, more effective way to do this
df20['Month_Day'] = df20['Month'] + '-' + df20['Day']

# Change type from str to int64
df20 = df20.astype({'Year': 'int64','Month': 'int64','Day': 'int64'})

# Drop unneeded columns
df20 = df20.drop(columns={'State Code','Defining Site'})

df20

,State Name,county Name,County Code,Date,AQI,Category,Defining Parameter,Number of Sites Reporting,Year,Month,Day,Month_Day
0,Alabama,Baldwin,3,2020-01-01,48,Good,PM2.5,1,2020,1,1,01-01
1,Alabama,Baldwin,3,2020-01-04,13,Good,PM2.5,1,2020,1,4,01-04
2,Alabama,Baldwin,3,2020-01-07,14,Good,PM2.5,1,2020,1,7,01-07
3,Alabama,Baldwin,3,2020-01-10,39,Good,PM2.5,1,2020,1,10,01-10
4,Alabama,Baldwin,3,2020-01-13,29,Good,PM2.5,1,2020,1,13,01-13
...,...,...,...,...,...,...,...,...,...,...,...,...
41245,Wyoming,Uinta,41,2020-03-27,5,Good,PM10,2,2020,3,27,03-27
41246,Wyoming,Uinta,41,2020-03-28,6,Good,PM10,2,2020,3,28,03-28
41247,Wyoming,Uinta,41,2020-03-29,6,Good,PM10,2,2020,3,29,03-29
41248,Wyoming,Uinta,41,2020-03-30,5,Good,PM10,2,2020,3,30,03-30
41249,Wyoming,Uinta,41,2020-03-31,6,Good,PM10,2,2020,3,31,03-31

In [6]:
# Split "Date" column into "Year", "Month", and "Day" columns for all six years of data
six_years_df['Year'] = [d.split('-')[0] for d in six_years_df['Date']]
six_years_df['Month'] = [d.split('-')[1] for d in six_years_df['Date']]
six_years_df['Day'] = [d.split('-')[2] for d in six_years_df['Date']]

# Create column to hold Month and Day w/o year
# This is to compare specific days across all six years
six_years_df['Month_Day'] = six_years_df['Month'] + '-' + six_years_df['Day']

# Change type from str to int64
six_years_df = six_years_df.astype({'Year': 'int64','Month': 'int64','Day': 'int64'})

# Drop unneeded columns
six_years_df = six_years_df.drop(columns={'State Code','Defining Site'})

In [7]:
# Create DF for just 2020 and 2019
df_19_20 = six_years_df.loc[((six_years_df['Year'] == 2019) | (six_years_df['Year'] == 2020))]
# df_19_20.to_csv('../01_Resources/2019-20_AQI_data.csv')

In [8]:
# Find the five-year avg
five_year_avg = six_years_df.loc[six_years_df['Year'] != 2020].groupby(['County Code','Month_Day'])['AQI'].mean().reset_index()

# Rename column    
five_year_avg = five_year_avg.rename(columns={'AQI':'Five-Year Avg.'})
five_year_avg

       County Code Month_Day  Five-Year Avg.
0                1     01-01       36.950413
1                1     01-02       38.042735
2                1     01-03       43.327731
3                1     01-04       40.271186
4                1     01-05       38.921739
...            ...       ...             ...
60462          840     12-23       24.000000
60463          840     12-26        8.500000
60464          840     12-27        7.000000
60465          840     12-28        5.000000
60466          840     12-29       17.000000

[60467 rows x 3 columns]

In [9]:
# Merge five-year avg. data into 2020 DF
compare_df = pd.merge(df20, five_year_avg,  how='left', 
                      left_on=['County Code','Month_Day'], 
                      right_on = ['County Code','Month_Day'])
compare_df

,State Name,county Name,County Code,Date,AQI,Category,Defining Parameter,Number of Sites Reporting,Year,Month,Day,Month_Day,Five-Year Avg.
0,Alabama,Baldwin,3,2020-01-01,48,Good,PM2.5,1,2020,1,1,01-01,36.239316
1,Alabama,Baldwin,3,2020-01-04,13,Good,PM2.5,1,2020,1,4,01-04,34.163793
2,Alabama,Baldwin,3,2020-01-07,14,Good,PM2.5,1,2020,1,7,01-07,40.389831
3,Alabama,Baldwin,3,2020-01-10,39,Good,PM2.5,1,2020,1,10,01-10,35.122807
4,Alabama,Baldwin,3,2020-01-13,29,Good,PM2.5,1,2020,1,13,01-13,34.266667
...,...,...,...,...,...,...,...,...,...,...,...,...,...
41245,Wyoming,Uinta,41,2020-03-27,5,Good,PM10,2,2020,3,27,03-27,35.542373
41246,Wyoming,Uinta,41,2020-03-28,6,Good,PM10,2,2020,3,28,03-28,36.393443
41247,Wyoming,Uinta,41,2020-03-29,6,Good,PM10,2,2020,3,29,03-29,40.344828
41248,Wyoming,Uinta,41,2020-03-30,5,Good,PM10,2,2020,3,30,03-30,38.754386
41249,Wyoming,Uinta,41,2020-03-31,6,Good,PM10,2,2020,3,31,03-31,34.903226

In [10]:
# compare_df.to_csv('../01_Resources/aqi_2020_5y.csv')

In [11]:
# Chage DF names and drop unsused
df_19_20 = df_19_20.drop(columns={'Year','Month','Day'})
df_19_20 = df_19_20.rename(columns={'State Name':'state',
                                    'county Name':'county',
                                    'County Code':'county_code',
                                    'Date':'date',
                                    'AQI':'aqi',
                                    'Category':'category',
                                    'Defining Parameter':'defining_parameter',
                                    'Number of Sites Reporting':'number_sites',
                                    'Month_Day':'month_day'
                                   })

six_years_df = six_years_df.drop(columns={'Year','Month','Day'})
six_years_df = six_years_df.rename(columns={'State Name':'state',
                                    'county Name':'county',
                                    'County Code':'county_code',
                                    'Date':'date',
                                    'AQI':'aqi',
                                    'Category':'category',
                                    'Defining Parameter':'defining_parameter',
                                    'Number of Sites Reporting':'number_sites',
                                    'Month_Day':'month_day'
                                   })

compare_df = compare_df.drop(columns={'Year','Month','Day'})
compare_df = compare_df.rename(columns={'State Name':'state',
                                    'county Name':'county',
                                    'County Code':'county_code',
                                    'Date':'date',
                                    'AQI':'aqi',
                                    'Category':'category',
                                    'Defining Parameter':'defining_parameter',
                                    'Number of Sites Reporting':'number_sites',
                                    'Month_Day':'month_day',
                                    'Five-Year Avg.':'five_year_avg'
                                   })
compare_df

,state,county,county_code,date,aqi,category,defining_parameter,number_sites,month_day,five_year_avg
0,Alabama,Baldwin,3,2020-01-01,48,Good,PM2.5,1,01-01,36.239316
1,Alabama,Baldwin,3,2020-01-04,13,Good,PM2.5,1,01-04,34.163793
2,Alabama,Baldwin,3,2020-01-07,14,Good,PM2.5,1,01-07,40.389831
3,Alabama,Baldwin,3,2020-01-10,39,Good,PM2.5,1,01-10,35.122807
4,Alabama,Baldwin,3,2020-01-13,29,Good,PM2.5,1,01-13,34.266667
...,...,...,...,...,...,...,...,...,...,...
41245,Wyoming,Uinta,41,2020-03-27,5,Good,PM10,2,03-27,35.542373
41246,Wyoming,Uinta,41,2020-03-28,6,Good,PM10,2,03-28,36.393443
41247,Wyoming,Uinta,41,2020-03-29,6,Good,PM10,2,03-29,40.344828
41248,Wyoming,Uinta,41,2020-03-30,5,Good,PM10,2,03-30,38.754386
41249,Wyoming,Uinta,41,2020-03-31,6,Good,PM10,2,03-31,34.903226

# Load data

In [12]:
compare_df['county_state'] = compare_df['county'] + ', ' + compare_df['state']
compare_df

,state,county,county_code,date,aqi,category,defining_parameter,number_sites,month_day,five_year_avg,county_state
0,Alabama,Baldwin,3,2020-01-01,48,Good,PM2.5,1,01-01,36.239316,"Baldwin, Alabama"
1,Alabama,Baldwin,3,2020-01-04,13,Good,PM2.5,1,01-04,34.163793,"Baldwin, Alabama"
2,Alabama,Baldwin,3,2020-01-07,14,Good,PM2.5,1,01-07,40.389831,"Baldwin, Alabama"
3,Alabama,Baldwin,3,2020-01-10,39,Good,PM2.5,1,01-10,35.122807,"Baldwin, Alabama"
4,Alabama,Baldwin,3,2020-01-13,29,Good,PM2.5,1,01-13,34.266667,"Baldwin, Alabama"
...,...,...,...,...,...,...,...,...,...,...,...
41245,Wyoming,Uinta,41,2020-03-27,5,Good,PM10,2,03-27,35.542373,"Uinta, Wyoming"
41246,Wyoming,Uinta,41,2020-03-28,6,Good,PM10,2,03-28,36.393443,"Uinta, Wyoming"
41247,Wyoming,Uinta,41,2020-03-29,6,Good,PM10,2,03-29,40.344828,"Uinta, Wyoming"
41248,Wyoming,Uinta,41,2020-03-30,5,Good,PM10,2,03-30,38.754386,"Uinta, Wyoming"
41249,Wyoming,Uinta,41,2020-03-31,6,Good,PM10,2,03-31,34.903226,"Uinta, Wyoming"

In [13]:
# Import dependencies
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect, select, join

In [14]:
# Base = declarative_base()

# Create table schema
# class Aqi(Base):
#     # Tell SQLAlchemy what the table name is and if there are any table-specific arguments
#     __tablename__ = 'daily_aqi'
#     __table_args__ = {'sqlite_autoincrement': True}
#     # Tell SQLAlchemy the name of column and attributes
#     id = Column(Integer, primary_key=True, nullable=False) 
#     state = Column(VARCHAR(40))
#     county = Column(VARCHAR)
#     county_code = Column(Integer)
#     date = Column(Date)
#     aqi = Column(Integer)
#     category = Column(VARCHAR)
#     defining_parameter = Column(VARCHAR)
#     number_sites = Column(Integer)
#     year = Column(Integer)
#     month = Column(Integer)
#     day = Column(Integer)
#     month_day = Column(VARCHAR)
    
# # Create engine
# engine = create_engine('sqlite:///aqi.db')
# Base.metadata.create_all(engine)

# # Create SQLite DB from the six-year/Jan-June DF
# before_june_df.to_sql(con=engine, index_label='id', name=Aqi.__tablename__, if_exists='replace')

In [21]:
# Create engine
# Note: User will need to supply their own PostgreSQL password under variable below
user = 'edocajsniqjxvf'
host = 'ec2-18-211-48-247.compute-1.amazonaws.com'
password = '0a745c51b14e36b16b0f027c941d4e2d0f4f99b9d29ccfdfd78989fb3a403875'
port = '5432'
db = 'd9vjlt3jk4ot9t'
uri = f'postgresql://{user}:{password}@{host}:{port}/{db}'
print(uri)
engine = create_engine(uri)

# Export content to SQL table
# df_19_20.to_sql(name='aqi_2019_2020', con=engine, if_exists='replace', index=False)
print('Table 1: built')
# six_years_df.to_sql(name='daily_aqi', con=engine, if_exists='replace', index=False)
# print('Table 2: built')
# compare_df.to_sql(name='aqi_2020', con=engine, if_exists='replace', index=False)
# print('Table 3: built')

postgresql://edocajsniqjxvf:0a745c51b14e36b16b0f027c941d4e2d0f4f99b9d29ccfdfd78989fb3a403875@ec2-18-211-48-247.compute-1.amazonaws.com:5432/d9vjlt3jk4ot9t
Table 1: built
Table 2: built
Table 3: built

In [ ]:
# user = 'postgres'
# host = 'localhost'
# password = 'postgres-2002'
# port = '5432'
# db = 'avg_aqi'
# uri = f'postgresql://{user}:{password}@{host}:{port}/{db}'
# uri
# engine = create_engine(uri)

In [49]:
aqi_5y = []
query_api_5y = engine.execute(f"SELECT five_year_avg FROM aqi_2020 WHERE state = 'Texas' ORDER BY date")
for api in query_api_5y:
    aqi_5y.append(api[0])
aqi_5y

[43.0,
 42.1,
 37.2875,
 2.6666666666666665,
 7.0,
 25.2,
 6.5,
 28.75,
 20.875,
 37.87234042553192,
 35.4,
 20.4,
 34.0,
 35.8,
 22.0,
 29.91549295774648,
 67.4,
 21.4,
 52.2,
 0.0,
 36.0,
 32.21311475409836,
 35.8,
 32.57333333333333,
 26.5,
 35.2,
 31.419354838709676,
 23.22222222222222,
 21.6,
 25.666666666666668,
 28.6,
 32.6,
 44.092592592592595,
 28.6,
 25.68421052631579,
 23.875,
 42.87301587301587,
 41.5,
 None,
 21.2,
 23.0,
 None,
 36.8,
 27.6,
 44.7,
 31.985294117647058,
 1.3333333333333333,
 38.0,
 23.22222222222222,
 30.6,
 24.2,
 3.3333333333333335,
 34.44871794871795,
 24.6,
 3.5,
 25.0,
 29.2,
 24.4,
 20.625,
 None,
 23.6,
 22.2,
 32.3013698630137,
 22.0,
 None,
 26.0,
 41.13793103448276,
 25.36842105263158,
 29.666666666666668,
 23.6,
 30.4,
 11.0,
 24.296296296296298,
 26.4,
 21.4,
 36.392857142857146,
 39.5,
 0.3333333333333333,
 27.4,
 26.25,
 24.375,
 25.4,
 23.0,
 26.31578947368421,
 16.8,
 42.7962962962963,
 27.785714285714285,
 26.8,
 19.75,
 None,
 25.4,
 26.0,
 2.3333333333333335,
 22.75,
 33.81666666666667,
 25.4,
 22.444444444444443,
 None,
 37.30769230769231,
 24.9,
 1.0,
 30.13235294117647,
 25.6,
 27.6,
 31.0,
 34.8,
 39.82258064516129,
 21.25,
 23.2,
 33.4375,
 11.4,
 32.5945945945946,
 25.42105263157895,
 28.11111111111111,
 0.0,
 35.2,
 3.5,
 28.6,
 25.59090909090909,
 40.283018867924525,
 34.12820512820513,
 33.0,
 26.11111111111111,
 22.2,
 22.6,
 22.0,
 36.1,
 26.607142857142858,
 22.0,
 28.2,
 18.0,
 26.4,
 23.4,
 27.444444444444443,
 29.4,
 28.6,
 22.0,
 27.8,
 26.5,
 21.0,
 29.1,
 35.27160493827161,
 30.83050847457627,
 35.8,
 25.6,
 35.4,
 26.75,
 37.07142857142857,
 25.57894736842105,
 26.166666666666668,
 None,
 36.0,
 27.045454545454547,
 29.6,
 0.3333333333333333,
 22.5,
 9.666666666666666,
 1.5,
 45.8,
 23.892857142857142,
 30.363636363636363,
 24.8,
 32.5,
 34.2,
 37.4,
 26.125,
 25.0,
 28.6,
 25.2,
 38.04838709677419,
 32.979166666666664,
 36.2,
 30.45945945945946,
 None,
 28.555555555555557,
 39.907407407407405,
 21.25,
 2.0,
 38.4,
 31.8,
 17.0,
 32.8,
 42.0,
 30.8,
 33.25,
 39.88135593220339,
 32.57692307692308,
 None,
 25.22222222222222,
 26.0,
 32.417910447761194,
 32.6,
 37.2,
 31.8,
 37.5,
 26.03846153846154,
 29.0,
 29.625,
 28.75,
 28.0,
 30.59259259259259,
 33.05263157894737,
 41.75,
 10.0,
 38.6,
 28.25,
 32.666666666666664,
 32.31506849315068,
 28.8,
 38.2,
 1.3333333333333333,
 24.555555555555557,
 33.0,
 28.8,
 3.0,
 17.8,
 36.270833333333336,
 29.2,
 34.6,
 27.4,
 None,
 27.0,
 37.4,
 33.375,
 30.4,
 40.333333333333336,
 0.0,
 32.111111111111114,
 None,
 30.857142857142858,
 34.6,
 37.6,
 37.2972972972973,
 34.2,
 30.5,
 30.157894736842106,
 0.3333333333333333,
 32.8,
 None,
 43.016129032258064,
 31.4,
 32.4,
 34.56410256410256,
 34.0,
 24.5,
 28.5,
 37.8,
 32.8,
 30.943661971830984,
 29.0,
 44.6,
 35.0,
 35.63333333333333,
 34.666666666666664,
 30.5,
 26.6,
 40.7,
 17.8,
 34.6551724137931,
 30.6,
 32.3,
 32.4,
 37.6,
 41.2,
 45.23076923076923,
 30.4,
 31.6,
 17.0,
 35.31645569620253,
 29.4,
 None,
 34.4,
 21.6,
 40.5,
 43.82258064516129,
 36.0,
 34.6,
 36.75806451612903,
 29.8,
 34.2,
 40.24074074074074,
 0.0,
 0.0,
 35.395833333333336,
 27.5,
 34.82432432432432,
 32.13235294117647,
 25.0,
 38.74193548387097,
 33.05263157894737,
 29.2,
 23.6,
 39.07142857142857,
 25.5,
 30.066666666666666,
 31.2,
 32.86363636363637,
 None,
 31.736842105263158,
 33.8,
 33.0,
 39.8,
 32.8,
 37.8,
 31.4,
 28.6,
 35.0,
 46.714285714285715,
 36.6,
 32.4,
 37.458333333333336,
 37.4,
 1.6666666666666667,
 32.0,
 31.8,
 32.86363636363637,
 33.4,
 31.6,
 None,
 30.3,
 29.8,
 41.666666666666664,
 34.57142857142857,
 1.0,
 28.0,
 6.666666666666667,
 30.0,
 33.5,
 23.8,
 29.05263157894737,
 43.166666666666664,
 29.6,
 0.3333333333333333,
 31.0,
 34.763888888888886,
 None,
 33.38961038961039,
 28.8,
 31.558823529411764,
 22.2,
 31.2,
 37.90909090909091,
 31.31578947368421,
 35.107142857142854,
 29.296296296296298,
 40.559322033898304,
 36.810344827586206,
 33.5,
 30.4,
 20.0,
 29.555555555555557,
 17.25,
 33.4,
 30.4,
 28.25,
 25.2,
 29.6,
 25.892857142857142,
 37.4,
 40.2,
 27.7,
 19.2,
 8.666666666666666,
 33.66233766233766,
 37.54545454545455,
 31.433333333333334,
 29.25,
 25.3,
 34.2,
 0.3333333333333333,
 29.4,
 31.4,
 25.2,
 32.082191780821915,
 27.8,
 31.875,
 6.0,
 31.7,
 24.842105263157894,
 28.0,
 None,
 43.2,
 30.4,
 35.8,
 23.2,
 0.0,
 30.6,
 27.0,
 36.16393442622951,
 35.10526315789474,
 29.9,
 30.408163265306122,
 6.5,
 None,
 29.636363636363637,
 33.15,
 40.92307692307692,
 29.8,
 29.0,
 31.8,
 38.0,
 24.9,
 29.7,
 34.8,
 31.2,
 25.5,
 27.214285714285715,
 32.0,
 29.06451612903226,
 10.5,
 36.064516129032256,
 30.842105263157894,
 28.25,
 31.49367088607595,
 40.09090909090909,
 28.0,
 33.0,
 34.857142857142854,
 2.0,
 30.4,
 20.2,
 44.8,
 29.2,
 40.1,
 28.8,
 None,
 23.157894736842106,
 27.5,
 None,
 29.571428571428573,
 28.6,
 22.6,
 28.2,
 31.0,
 29.2,
 0.3333333333333333,
 30.194444444444443,
 30.791666666666668,
 33.8,
 34.0,
 25.8,
 31.756756756756758,
 0.0,
 32.5,
 34.2,
 38.785714285714285,
 33.03703703703704,
 30.6,
 2.3333333333333335,
 32.2,
 28.789473684210527,
 21.75,
 28.8,
 0.0,
 34.8448275862069,
 29.2,
 36.416666666666664,
 28.6,
 27.4,
 32.2,
 28.76923076923077,
 28.6,
 31.549295774647888,
 31.8,
 30.19047619047619,
 None,
 29.157894736842106,
 37.766666666666666,
 29.8,
 34.0,
 31.4,
 27.2,
 None,
 26.4,
 38.2,
 26.8,
 30.0,
 29.0,
 31.32894736842105,
 40.625,
 29.2,
 4.0,
 26.77777777777778,
 31.4,
 6.0,
 30.5,
 31.340425531914892,
 30.6,
 35.2,
 31.0,
 None,
 0.5,
 25.0,
 29.0,
 32.25,
 27.8,
 32.473684210526315,
 32.5,
 32.647887323943664,
 28.2,
 None,
 35.2,
 0.0,
 32.31506849315068,
 32.5,
 38.916666666666664,
 29.6,
 29.2,
 28.1,
 28.105263157894736,
 34.62068965517241,
 31.75,
 36.0,
 12.0,
 39.61818181818182,
 40.23076923076923,
 36.9,
 29.6,
 30.0,
 28.4,
 32.4,
 39.5,
 31.227272727272727,
 0.0,
 28.6,
 30.545454545454547,
 28.6,
 1.6666666666666667,
 31.346938775510203,
 41.6,
 21.6,
 29.8,
 22.0,
 25.6,
 30.0,
 40.0,
 1.6666666666666667,
 None,
 33.32258064516129,
 25.9,
 38.8,
 27.2,
 48.333333333333336,
 38.75925925925926,
 35.0,
 29.8,
 34.4,
 0.3333333333333333,
 30.584415584415584,
 32.9,
 29.9,
 27.545454545454547,
 29.1,
 34.291666666666664,
 None,
 26.0,
 37.0,
 33.0,
 30.333333333333332,
 27.4,
 1.3333333333333333,
 52.2,
 32.43835616438356,
 32.24,
 2.0,
 33.07142857142857,
 40.43333333333333,
 33.8,
 17.375,
 27.2,
 28.0,
 23.4,
 32.903225806451616,
 37.2,
 27.842105263157894,
 31.5,
 23.4,
 32.6,
 29.75,
 37.25,
 31.045454545454547,
 None,
 34.854166666666664,
 15.333333333333334,
 42.189655172413794,
 35.21052631578947,
 28.8,
 33.2,
 44.75,
 28.0,
 37.3,
 32.8,
 21.5,
 27.75,
 0.3333333333333333,
 None,
 31.65,
 30.2,
 27.0,
 24.6,
 34.602739726027394,
 46.2,
 23.4,
 0.6666666666666666,
 26.8,
 26.2,
 33.09090909090909,
 32.642857142857146,
 22.2,
 29.8,
 4.333333333333333,
 40.236363636363635,
 28.2,
 4.5,
 20.5,
 25.5,
 35.41428571428571,
 28.6,
 32.84615384615385,
 27.4,
 40.6,
 0.0,
 30.0,
 28.0,
 27.25,
 41.6,
 22.8,
 33.625,
 29.8,
 37.81578947368421,
 36.48275862068966,
 38.5,
 30.0,
 36.6,
 41.67796610169491,
 26.25,
 36.6,
 34.9,
 27.7,
 37.2,
 1.0,
 None,
 28.8,
 38.229729729729726,
 30.6,
 67.5,
 37.6,
 39.421052631578945,
 25.0,
 37.083333333333336,
 39.0,
 48.23076923076923,
 24.4,
 29.6,
 29.2,
 34.8,
 None,
 38.3,
 35.86363636363637,
 24.2,
 40.8,
 16.666666666666668,
 1.0,
 43.57627118644068,
 24.8,
 45.407407407407405,
 37.270833333333336,
 41.52542372881356,
 29.2,
 34.31578947368421,
 40.25,
 25.4,
 32.8,
 42.30909090909091,
 33.0,
 34.08108108108108,
 11.5,
 35.903225806451616,
 31.6,
 32.8,
 33.2,
 0.0,
 28.0,
 36.91139240506329,
 39.0,
 35.578947368421055,
 49.285714285714285,
 40.0,
 31.0,
 None,
 20.4,
 32.758620689655174,
 27.75,
 12.2,
 44.125,
 24.6,
 28.8,
 28.1,
 33.0,
 29.8,
 28.2,
 8.0,
 36.2,
 17.0,
 0.0,
 28.8,
 25.8,
 35.18181818181818,
 36.082191780821915,
 None,
 29.1,
 23.8,
 33.0,
 35.26315789473684,
 None,
 40.5,
 40.37931034482759,
 29.0,
 37.21052631578947,
 32.0,
 36.07142857142857,
 35.19565217391305,
 34.58571428571429,
 32.892857142857146,
 32.5,
 42.25,
 32.18518518518518,
 33.13636363636363,
 34.73684210526316,
 31.2,
 28.8,
 28.4,
 34.0,
 27.5,
 28.75,
 32.013698630136986,
 5.5,
 27.8,
 3.0,
 37.8,
 26.0,
 None,
 24.8,
 23.0,
 19.25,
 7.0,
 28.6,
 25.5,
 0.6666666666666666,
 30.2,
 32.0,
 32.2,
 27.6,
 29.4,
 33.6,
 29.6,
 26.0,
 26.6,
 33.2,
 34.84415584415584,
 31.61111111111111,
 24.6,
 30.7,
 31.87837837837838,
 34.0,
 27.0,
 0.0,
 29.4,
 31.0,
 26.4,
 27.6,
 33.38181818181818,
 38.6,
 27.1,
 22.8,
 9.0,
 43.23076923076923,
 0.3333333333333333,
 24.5,
 36.85,
 31.6,
 25.0,
 25.551724137931036,
 19.0,
 34.0,
 27.863636363636363,
 None,
 29.2,
 None,
 34.22222222222222,
 29.6,
 25.6,
 31.8,
 27.7,
 2.0,
 30.208333333333332,
 38.8,
 31.6,
 33.0,
 48.61538461538461,
 35.4,
 41.4,
 0.0,
 1.3333333333333333,
 31.481012658227847,
 30.106666666666666,
 32.7,
 33.8,
 31.75,
 32.8,
 13.4,
 32.0,
 34.2,
 34.4,
 36.4,
 32.4,
 31.4,
 34.0,
 33.94444444444444,
 None,
 28.318181818181817,
 None,
 34.0,
 22.741935483870968,
 30.4,
 32.0,
 2.0,
 34.967213114754095,
 22.2,
 33.8,
 21.8,
 29.8,
 3.5,
 2.6666666666666665,
 30.0,
 30.967741935483872,
 30.907692307692308,
 23.8,
 31.753424657534246,
 34.8,
 33.1,
 28.06122448979592,
 32.25,
 27.2,
 47.0,
 32.6,
 19.333333333333332,
 30.035714285714285,
 50.54545454545455,
 40.6,
 32.4,
 0.0,
 34.2,
 35.357142857142854,
 36.6,
 37.4,
 30.0,
 35.14035087719298,
 44.5,
 35.7,
 33.0,
 32.214285714285715,
 35.0,
 19.75,
 29.987179487179485,
 37.8,
 17.8,
 33.8,
 33.57142857142857,
 33.21052631578947,
 38.6,
 None,
 32.78082191780822,
 1.3333333333333333,
 39.0,
 30.916666666666668,
 34.2,
 48.333333333333336,
 40.6,
 None,
 28.4,
 26.6,
 35.0,
 43.7,
 39.4,
 28.7,
 32.416666666666664,
 8.333333333333334,
 39.0,
 None,
 45.1,
 31.4,
 33.4,
 30.75,
 33.4,
 42.6,
 33.97142857142857,
 32.241379310344826,
 37.8,
 36.85,
 36.2,
 49.416666666666664,
 26.0,
 33.6,
 30.8,
 31.6,
 32.1,
 33.8,
 36.733333333333334,
 30.8,
 None,
 32.205128205128204,
 37.5,
 38.50909090909091,
 52.8,
 0.6666666666666666,
 32.91891891891892,
 16.2,
 0.0,
 32.2,
 38.75409836065574,
 28.75,
 34.05263157894737,
 33.4,
 31.2,
 34.2,
 24.666666666666668,
 35.8,
 37.2,
 30.5,
 13.0,
 30.444444444444443,
 27.2,
 38.981818181818184,
 35.2,
 31.945945945945947,
 0.3333333333333333,
 None,
 37.43333333333333,
 0.0,
 31.032258064516128,
 33.6,
 34.75,
 28.4,
 34.8,
 30.57894736842105,
 33.0,
 33.2,
 28.2,
 31.6,
 None,
 29.0,
 29.445945945945947,
 36.4,
 44.4,
 28.428571428571427,
 32.25,
 31.4,
 0.0,
 33.243589743589745,
 33.0,
 39.0,
 40.69230769230769,
 31.333333333333332,
 19.25,
 37.622950819672134,
 3.0,
 33.8,
 38.6,
 31.5,
 15.6,
 34.0,
 14.666666666666666,
 28.185185185185187,
 31.0,
 28.0,
 36.0,
 6.666666666666667,
 29.5,
 32.3,
 30.4,
 None,
 1.5,
 None,
 25.2,
 29.0,
 30.869565217391305,
 37.63793103448276,
 34.0,
 32.8,
 1.3333333333333333,
 34.4,
 27.157894736842106,
 25.4,
 23.25,
 31.0,
 31.25,
 34.4,
 47.8,
 16.0,
 ...]